<!-- shows details of a particulal listing  -->
<% layout('/layouts/boilerplate') %>

<body>
    <div class="row">
        <!-- shows listing -->
        <div class="col-8 offset-3">
            <br>
            <h3><%= listing.title %></h3>
        </div>
            <div class="card col-6 offset-3 listing-card">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="Listing Image">
                <div class="card-body">
                <p class="card-text">
                    <%= listing.description %> <br>
                    &#8377 <%= listing.price %> / night <br>
                    <%= listing.location %> <br>
                    <%= listing.country %> <br>
                    
                </p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>

            <div class="btns">
                <a class="btn btn-dark col-1 offset-3 edit-btn mb-4" href="/listing/<%= listing.id %>/edit"> Edit </a>

                <form method="POST" action="/listing/<%= listing.id %>?_method=DELETE">
                    <button class="btn btn-dark offset-3" > Delete </button>
                </form>
                
            </div>
            
            <!-- add review -->
            <div class="col-8 offset-3 mb-3">
                <hr>
                <h4> Leave a Review</h4>
                <form method="post" action="/listing/<%=listing.id%>/reviews" class="needs-validation" novalidate>
                    <div class="mb-3 mt-3">
                        <label for="rating" class="form-label"> Rating </label>
                        <input type="range" min="1" max="5" id="rating" name="reviews[rating]" class="form-range">
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label"> Comment </label>
                        <textarea id="comment" name="reviews[comment]" class="form-control" required></textarea>
                        <div class="invalid-feedback">Comment cannot be empty</div>
                    </div>
                    <button class="btn btn-outline-dark"> Submit </button>
                </form> 
                <hr>

                <!-- reviews -->
                <div>
                    <p><b> Reviews </b></p>
                        
                        <div class="row">
                        <% for(review of listing.reviews) { %>
                            
                            <div class="card col-5 mb-3 ms-3">
                                <h5 class="card-title"> Jane Lavinson</h5>
                                <p class="card-text"><%=review.comment%></p>
                                <p class="card-text"><%=review.rating%> Star</p>
                                <form class="mb-3" method="post" action="/listing/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                                    <button class="btn btn-dark"> Delete</button>
                                </form>
                            </div>

                        <%} %>
                        </div>

                </div>
            </div>
    </div>
</body>
